<form id="saveForm">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" placeholder="Please enter first name" value="<%- firstName%>">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" placeholder="Please enter last name" value="<%- lastName%>">
    <label for="date">Last Name</label>
    <input type="date" id="date" placeholder="Please enter last name" value="<%- dateOfBirth%>">
    <button id="saveBtn">Save</button>
    <button id="cancelBtn">Cancel</button>
</form>